@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700;900&display=swap');

* {
    font-family: 'Biryani';
}

:root {
    --font-size-title: 40px;
    --font-size-sub-title: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    max-width: max-content;
}

.area_whatsapp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 0;
}

.area_whatsapp a {
    height: 68px;
}

.area_whatsapp img {
    width: 100%;
    max-width: 68px;
    height: 68px;
}

.logo_desktop {
    max-width: max-content;
    width: 100%;
    height: auto;
}

[data-animation] {
    opacity: 0;
    transition: all 200ms ease-in;
}

[data-delay-1] {
    transition-delay: 200ms;
}

[data-delay-2] {
    transition-delay: 400ms;
}

[data-delay-3] {
    transition-delay: 600ms;
}

[data-delay-4] {
    transition-delay: 800ms;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*Menu*/

header {
    width: 100%;
    position: relative;
    z-index: 1;
}

.menu_open {
    display: none;
}

.close {
    display: none;
}

.menu_mobile {
    display: none;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.area_menu a {
    display: flex;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: max-content;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

/*Home*/
.container_home {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(82deg, #042653 31.45%, #196BBD 100%);
    padding: 40px 0px 0px 0px;
}

.container_home_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_home {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.area_texts_home {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    gap: 20px;
}

.title_home h2 {
    color: #F8FAFD;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.92px;
}

.title_home h2 b {
    color: #20C5D7;
    font-weight: 700;
}

.sub_title_home p {
    color: #FFF;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.sub_title_home p b {
    font-weight: 900;
}

.btn_home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    background: #4EE6F6;
    padding: 10px 15px 10px 15px;
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_home h2 {
    color: #113462;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
    text-rendering: optimizeLegibility;
}

.btn_scale {
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_scale:hover {
    transform: scale3d(1.06, 1.06, 1.06);
}

.btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: linear-gradient(87deg, #0462B4 0%, #4EE6F6 100%);
    padding: 10px 15px 10px 15px;
}

.btn_menu h2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
    text-rendering: optimizeLegibility;
}

.bg_home {
    max-width: max-content;
    width: 100%;
    height: auto;
}

/**/

.container_seguro {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_seguro_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_seguro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 100%;
}

.bg_seguro {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.area_texts_seguro {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 520px;
}

.area_bg_seguro {
    position: relative;
}

.layer_seguro_1 {
    position: absolute;
    bottom: -20px;
    left: 60px;
    max-width: max-content;
    height: auto;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: -8px 15px 40px 0px rgba(40, 83, 122, 0.25);
}

.layer_seguro_2 {
    position: absolute;
    top: 30px;
    left: -40px;
    max-width: max-content;
    height: auto;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: -8px 15px 40px 0px rgba(40, 83, 122, 0.25);
}


.layer_seguro_3 {
    position: absolute;
    top: 80px;
    right: -70px;
    max-width: max-content;
    height: auto;
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: -8px 15px 40px 0px rgba(40, 83, 122, 0.25);
}


.area_simples_texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: max-content;
}

.info_seguro p {
    color: #4487C1;
    font-size: 20px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.title_seguro h2 {
    color: #101824;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.6px;
}

.sub_title_seguro p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.info_seguro_cosimo p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.area_infos_seguro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.area_infos_seguro ul {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 28px;
}

.area_infos_seguro ul li {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.area_infos_seguro ul li::marker {
    color: #08ACC0;
    font-size: 1.5em;
}

.area_infos_seguro ul li b {
    font-weight: 900;
}

.btn_seguro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    background: #0C4DA2;
    padding: 10px 15px 10px 15px;
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_seguro h2 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
    text-rendering: optimizeLegibility;
}

/*Gestao*/
.container_gestao {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_gestao_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.title_gestao_total h2 {
    color: #101824;
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.6px;
}

.area_gestao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.card_gestao {
    border-radius: 30px;
    border: 1px solid #B0C7CD;
    background: #FFF;
    height: 470px;
    max-width: 580px;
    width: 100%;
}

.card_gestao_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 40px 40px 40px;
}

.title_gestao h2 {
    color: #101824;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -1.36px;
    line-height: 100%;
}

.sub_title_gestao p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
}

.sub_title_gestao p b {
    font-weight: 900;
}

/*Ecossistema*/

.container_ecossistema {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    background: linear-gradient(to top left, #ffffff, #59e0ef33), linear-gradient(to top left, #59e0ef33, #59e0ef0c), linear-gradient(to bottom left, #ffffff, #59e0ef0c), linear-gradient(to top left, #ffffff, #59e0ef0c);
}

.container_ecossistema_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_ecossistema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.area_logo_ecossistema {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.area_logo_ecossistema a {
    display: flex;
}

.title_ecossistema h2 {
    color: #101824;
    font-size: var(--font-size-title);
    font-weight: 700;
    letter-spacing: -1.6px;
    line-height: 100%;
}

.cosimo_logo_colorido {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.sub_title_ecossistema p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
}


/*Integrantess*/
.container_integrantes {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_integrantes_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.title_integrantes_section h2 {
    color: #2E3135;
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 125%;
}


.area_integrantes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.cards_integrantes {
    display: flex;
    justify-content: center;
    max-width: max-content;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(74deg, #E7F0FC 33.3%, #EAFDFF 100%);
    gap: 40px;

}

.cards_integrantes_2 {
    display: flex;
    justify-content: center;
    max-width: max-content;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(74deg, #E7F0FC 33.3%, #EAFDFF 100%);
    gap: 40px;
}

.cards_integrantes_2 img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.cards_integrantes img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.area_texts_integrantes {
    display: flex;
    align-items: center;
    height: auto;
    padding: 40px 30px 40px 30px;
}

.area_texts_integrantes_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.title_integrantes h2 {
    color: #2E3135;
    font-size: 32px;
    font-weight: 900;
    line-height: 100%;
}

.sub_title_integrantes p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
}


/*Pilares*/

.container_pilares {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    background: #1E549A;
}

.container_pilares_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_pilares {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.area_logo_pilares {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    position: sticky;
    height: 100%;
    top: 20px;
}

.area_logo_pilares a {
    display: flex;
}

.cosimo_logo_branco {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.title_pilares h2 {
    color: #FFF;
    font-size: var(--font-size-title);
    font-weight: 800;
    line-height: 125%;
}

.info_pilares p {
    color: #FFF;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    line-height: normal;
}

.area_cards_pilares {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 670px;
}

.cards_pilares {
    border-radius: 12px;
    border: 2px solid rgba(209, 228, 235, 0.00);
    background: #FFF;
    box-shadow: 5px 8px 60px 0px rgba(23, 81, 89, 0.12);
    padding: 20px 30px;
}

.cards_pilares_int {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.area_icon_pilares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    background: #E2EFFB;
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
    padding: 0px 10px;
}

.area_text_pilares {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: max-content;
}

.title_cards_pilares h2 {
    color: #2E3135;
    font-size: 20px;
    font-weight: 900;
    line-height: 100%;
}


.sub_title_cards_pilares p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    line-height: normal;
}

/*Pagamentos*/
.container_pagamentos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.container_pagamentos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_pagamentos {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 920px;
}

.title_pagamentos h2 {
    color: #2E3135;
    font-size: var(--font-size-title);
    font-weight: 800;
    line-height: 125%;
}

.title_pagamentos h2 b {
    color: #0C4DA2;
}

.sub_title_pagamentos p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    line-height: normal;
}

/*Ecossistema*/

.container_diferenciais {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    background: linear-gradient(to top left, #ffffff, #59e0ef33), linear-gradient(to top left, #59e0ef33, #59e0ef0c), linear-gradient(to bottom left, #ffffff, #59e0ef0c), linear-gradient(to top left, #ffffff, #59e0ef0c);
}

.container_diferenciais_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_diferenciais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.area_texts_diferenciais {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    max-width: 740px;
}

.title_diferenciais h2 {
    color: #2E3135;
    font-size: var(--font-size-title);
    font-weight: 800;
    line-height: 125%;
}

.area_cards_swiper {
    width: 100%;
    max-width: 350px;
    height: 400px;
    padding: 20px 20px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: -8px 0px 40px 0px rgba(40, 83, 122, 0.25);
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0 !important;
    overflow-y: visible !important;
}

.swiper .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #04ADBF !important;
    height: 12px;
    width: 12px;
    opacity: 1;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    background: #0470B6 !important;
    opacity: 1 !important;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -30px !important;
}

.swiper-wrapper {
    padding: 0px 0px;
}

.area_cards_swiper_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.numero_swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background: #D2F1F3;
}

.numero_swiper h2 {
    color: #0470B6;
    font-size: 40px;
    font-weight: 900;
    line-height: 100%;
}

.title_swiper h2 {
    color: #2E3135;
    font-size: 20px;
    font-weight: 900;
    line-height: 140%;
}

.sub_title_swiper p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
}

/*Plataforma*/

.container_plataforma {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    position: relative;
}

.box_bg_plataforma {
    position: absolute;
    border-radius: 400px;
    background: #00AEC4;
    filter: blur(350px);
    width: 400px;
    height: 300px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.container_plataforma_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_plataforma {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.area_logo_plataforma {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: max-content;
    height: 100%;
}

.area_logo_plataforma a {
    display: flex;
}

.title_plataforma h2 {
    color: #3B3E42;
    font-size: var(--font-size-title);
    font-weight: 800;
    line-height: 100%;
}

.info_plataforma p {
    color: #3B3E42;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    line-height: normal;
}

.area_cards_plataforma {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}

.cards_plataforma {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    border: 2px solid #D1E4EB;
    background: #FFF;
    box-shadow: 5px 8px 60px 0px rgba(23, 81, 89, 0.12);
    padding: 20px 30px;
}

.area_icon_plataforma {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 70px;
    border-radius: 10px;
    background: #D2F1F3;
    transition: all ease-in-out 200ms;
    transform: scale3d(1, 1, 1);
}

.area_text_plataforma {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
}

.title_cards_plataforma h2 {
    color: #2E3135;
    font-size: 20px;
    font-weight: 900;
    line-height: 100%;
}


.sub_title_cards_plataforma p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 400;
    line-height: normal;
}

/*Footer*/
footer {
    width: 100%;
    background: #022350;
    padding: 40px 0px 40px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area_logo_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.moviva_logo_branco {
    display: flex;
    max-width: max-content;
    width: 100%;
    height: auto;
}

.info_logo_footer p {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
}

.area_menu_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
}

.infos_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: max-content;
}

.menu_footer p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

.copy p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.copy p a {
    text-decoration: none;
    color: #FFF;
}





@media(max-width: 1024px) {
    :root {
        --font-size-title: 32px;
        --font-size-sub-title: 16px;
    }

    .area_menu {
        padding: 20px 20px 0px 20px;
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 20px 20px 0px 20px;
    }

    @keyframes move {
        0% {
            right: -100%;

        }

        100% {
            right: 0px;
        }

    }

    .menu_open {
        display: flex;
    }

    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #container_menu {
        display: none;
        width: 100%;
        height: 100vh;
        opacity: 1;
        background: linear-gradient(to top left, #ffffff, #59e0ef33), linear-gradient(to top left, #59e0ef33, #59e0ef0c), linear-gradient(to bottom left, #ffffff, #59e0ef0c), linear-gradient(to top left, #ffffff, #59e0ef0c);
        position: fixed;
        top: 0px;
        z-index: 99;
        transition: all ease 400ms;
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .area_menu {
        flex-direction: column;
        width: 100%;
    }

    .area_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }

    .area_close_int {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1220px;
    }

    .close {
        cursor: pointer;
        max-width: max-content;
        width: 100%;
    }

    .area_menu nav {
        width: 100%;
    }

    .area_menu nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo_desktop {
        display: none;
    }

    nav ul li a {
        font-size: 30px;
    }

    .area_menu nav ul a {
        color: #2E3033;
        font-size: var(--font-size-title);
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.6px;
    }

    .area_texts_home {
        text-align: center;
        align-items: center;
    }

    .title_home h2 {
        font-size: 32px;
        line-height: 110%;
    }

    .btn_home {
        padding: 10px 12px 10px 12px;
    }

    .area_home {
        flex-direction: column;
        padding: 0px 20px;
        width: auto;
    }


    /*Seguro*/
    .area_seguro {
        flex-direction: column;
        gap: 40px;
        padding: 0px 20px;
        width: auto;
    }

    /*Gestão*/
    .container_gestao {
        padding: 0px 0px 40px 0px;
    }

    .area_gestao {
        flex-direction: column;
    }

    .card_gestao {
        height: auto;
    }

    /*Ecossistema*/
    .area_ecossistema {
        padding: 0px 20px;
    }

    /*Integrantes*/
    .cards_integrantes {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .cards_integrantes_2 {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }

    .title_integrantes h2 {
        font-size: 28px;
    }

    /*Pilares*/
    .area_pilares {
        flex-direction: column;
        align-items: center;
    }

    .area_logo_pilares {
        position: relative;
        top: auto;
        align-items: center;
        text-align: center;
    }

    .area_cards_pilares {
        justify-content: center;
        align-items: center;
        max-width: max-content;
        padding: 0px 20px;
        width: auto;
    }

    .cards_pilares {
        max-width: 400px;
    }

    .cards_pilares_int {
        flex-direction: column;
        max-width: max-content;
    }

    .area_icon_pilares {
        padding: 0px;
    }

    /*Plataforma*/
    .area_plataforma {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .area_logo_plataforma {
        text-align: center;
        align-items: center;
        gap: 15px;
    }


    /*Footer*/
    footer {
        padding: 40px 0px 50px 0px;
    }

    .container_footer_int {
        padding: 0px 20px;
    }

    .area_footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .infos_footer {
        max-width: 300px;
        width: 100%;
    }

    .area_logo_footer {
        align-items: flex-start;
    }

    .area_menu_footer {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

}
@media(max-width: 768px) {
    :root {
        --font-size-title: 28px;
        --font-size-sub-title: 16px;
    }

    .title_home h2 {
        font-size: 28px;
        line-height: 110%;
    }


    .layer_seguro_3 {
        right: 0px;
        max-width: 200px;
    }

    .layer_seguro_1 {
        max-width: 240px;
        bottom: 20px;
    }

    .layer_seguro_2 {
        top: 40px;
        max-width: 280px;
    }

    /*Gestão*/

    .title_gestao h2 {
        font-size: 28px;
    }

    .area_pagamentos {
        padding: 0px 20px;
    }

    /*Integrantes*/
    .cards_integrantes {
        max-width: 425px;
    }
    .cards_integrantes_2 {
        max-width: 425px;
    }
}

@media(max-width: 480px) {

    :root {
        --font-size-title: 26px;
        --font-size-sub-title: 16px;
    }
    .title_home h2 {
        font-size: 26px;
    }

    .layer_seguro_2 {
        top: 0px;
        max-width: 280px;
        left: 0px;
    }

    .layer_seguro_1 {
        bottom: -20px;
    }

    .layer_seguro_3 {
        top: 100px;
    }

    .container_gestao_int {
        padding: 0px 20px;
        gap: 20px;
    }

    .card_gestao_int {
        padding: 30px 30px;
    }

    .container_integrantes_int {
        padding: 0px 20px;
        gap: 20px;
    }

    .title_integrantes h2 {
        font-size: 26px;
        line-height: 110%;
    }


    /*Pilares*/
    .area_pilares {
        gap: 20px;
    }

    .area_logo_pilares {
        padding: 0px 20px;
        width: auto;
    }

    /*Pagamentos*/
    .area_pagamentos {
        gap: 20px;
    }

    .area_texts_diferenciais {
        padding: 0px 20px;
        width: auto;
    }

    .area_diferenciais {
        gap: 20px;
    }

    .numero_swiper {
        width: 60px;
        height: 60px;
    }

    .numero_swiper h2 {
        font-size: 32px;
    }

    .area_plataforma {
        gap: 20px;
        padding: 0px 20px;
    }
    .area_text_plataforma {
        gap: 15px;
    }

    .area_whatsapp img {
        width: 100%;
        max-width: 60px;
        height: 60px;
    }

    .area_whatsapp a {
        height: 60px;
    }

}